* {
    margin: 0px, auto;
    padding: 0px;
}

#wrapper {
    /* height: 730px; */
    width: 970px;
    background-color: #1b335d;
    margin: 0px, 10px, 0px, 10px;
    padding: 5px;
}

#header {
    min-height: 50px;
    background-color: red;
    padding: 1px;
    margin: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;

}

#navigation {
    min-height: 200px;
    width: 200px;
    background-color: #2a7d8c;
    display: inline-block;
    margin: 10px;
    color: #55ccdc;
    border-radius: 15px;
}

#main_content {
    min-height: 430px;
    width: 720px;
    background-color: black;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
}

#advertisement {
    min-height: 50px;
    width: 946px;
    background-color: grey;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: white;
    margin-top: 10px;
    padding: 5px;
}

#basics {
    margin-left: 15px;
}

.list {
    margin-left: 20px;
    text-decoration: underline;
}

.indent {
    margin-left: 10px;
}

.phead {
    margin-left: 15px;
}

.lightblue {
    color: #2a7d8c;

}

.purple {
    color: #5361f2;
}

.info {
    margin-left: 20px;
}

#advertisement a {
    padding: 20px;
    vertical-align: middle;
    
}